<!doctype html>
<html>

    <!-- CONTENT -->    
     <div id="text_main"><p style="text-align:center; padding-left:250px; padding-right:250px;"><font color="#464241">
     
     We're going to measure "coordination" as an aggregate:

     <br>
     
     <br><img src="{{ url_for('static', filename='image/icon/idea.png') }}" style="width:22px;height:20px;"/>&nbsp;<b>Your Average Coordination Score</b><br>A measure of how much you coordinate your lingustic style to those you email. 
     <br>
     
     <br>
    
    You'll also see how much you coordinate with each of the groups you're comparing.   

     </font></p></div>
     
</html> 