<!doctype html>
<html>
<link rel="shortcut icon" href="{{ url_for('static', filename='image/icon/favicon.ico') }}">
<title>KnowingMe</title>

<!-- HEADER -->
<header>

  <!-- Style -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/general_style.css')}}">
  
  <!-- Dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <!-- Flash Messages -->
  {% with messages = get_flashed_messages() %}
      {% if messages %}
        <script>
            var messages = {{ messages | safe }};
            for (var i=0; i<messages.length; i++) {
              alert(messages[i]);
            }
        </script>
      {% endif %}
  {% endwith %}

  <!-- Progress -->
  <script>
    $(document).ready(function() {
      var refresh_id = setInterval(function() {
          $.get(
            "{{ url_for('intro_load_update_view') }}",
            function(data) {
              $('#load_email').text(data.status_email_load);
              $('#total_email').text(data.status_email_max);
              if (data.status == 'finished') {
                window.location.replace("{{ url_for('intro_load_c_view') }}");
              } else if (data.status == 'error') {
                window.location.replace("{{ url_for('error_view') }}"); 
              }
            }
          )}
        , 1000);
    });
  </script>

</header>

<!-- BODY -->
<body scroll="no" style="overflow: hidden">

  <!-- Header Section -->
  <div id="content">
    <center>
    <div class="ribbon">
    <img src="{{ user_photo }}" style="width:40px;height:40px;"/>
    <br>
    {{ user_email }}
    <br>
    <a href="{{ url_for('logout_view') }}">Switch User</a>&nbsp;&nbsp;||&nbsp;&nbsp;<a href="{{ url_for('landing_view') }}">Home Page</a>
    </div>
    </center>

      <!-- Header Section - progress -->
     <br><br><br>
     <center>
     <img src="{{ url_for('static', filename='image/icon/analysis_map_email.png') }}" style="width:500px;height:30px;"/><br>
     </center>

  </div>

  <!-- Content -->
  <br><br><br><br><br><br>
  

  <h3><p style="text-align:center;">How We Write Emails</h3></p>
  <p style="text-align:center; padding-left:350px; padding-right:350px;"><font color="#464241">
  <br>When you write an email, you’re saying things explicitly. 
  <br>But you’re also communicating subtly in other ways
  <br>
  <br>Sometimes your tone might be more polite, or more curt. 
  <br>
  <br>Sometimes you know how you’ve made an email more polite. 
  <br>Other times, you follow an intuition but you probably couldn’t articulate what you did.
  </font></p>

  <br><br>

  <center>
  <img src="{{ url_for('static', filename='animation/email_loading.gif') }}" style="width:130px;height:100px;"/><br>
  
  <br><br>

  <font color="#575a60"><i>We Are Preparing Your Emails Between {{ earliest_date }} And {{ latest_date }} For Analysis ({{ date_diff }} Days) <br>
  We Have Prepared <div id="load_email" style="display: inline">....</div> out of <div id="total_email" style="display: inline">....</div> Emails</i></font>
  </center>

  <br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  
</body>
</html>

<!-- END -->