<!doctype html>
<html>
{% include 'template/general/title.html' %}

<!-- HEADER -->
<header>

  <!-- Dependencies & Co -->
  {% include 'template/general/dependency.html' %}
  {% include 'template/general/flash_message.html' %}

  <!-- Progress Script -->
  <script>
    $(document).ready(function() {
      var refresh_id = setInterval(function() {
          $.get(
            "{{ url_for('intro_load_update_view') }}",
            function(data) {
              $('#load_overview').text(data.status_overview_load);
              $('#total_overview').text(data.status_overview_max);
              if (data.status == 'finished') {
                window.location.replace("{{ url_for('intro_load_b_view') }}");
              } else if (data.status == 'error') {
                window.location.replace("{{ url_for('error_view') }}"); 
              }
            }
          )}
        , 1000);
    });
  </script>

</header>


<!-- BODY -->
{% include 'template/general/body_scroll.html' %}

  <!-- Header Section -->
  {% include 'template/general/header_user.html' %}
  {% include 'template/general/header_ribbon_load_overview.html' %}

  <!-- Content Section -->
  {% include 'template/space/insight_main_top_space.html' %}
 
  <h3><p style="text-align:center;">We Send Lots Of Emails</p></h3>
  <p style="text-align:center; padding-left:350px; padding-right:350px;"><font color="#464241">

  <br>Every day, around the world, we create 269 billion emails.
  <br>
  <br>
  <br>
  <br>  
  <br>
  <br>
  </font></p>
  
  <br><br>

  <center>
  <img src="{{ url_for('static', filename='animation/email_loading.gif') }}" style="width:130px;height:100px;"/><br>
  
  <br><br>
  
  <font color="#6d6666">We are getting an overview of all your emails over the past 365 days
  <br>filtering out all non-personal emails (e.g. newsletters and promotions). 
  <br><i>We have taken a look at <div id="load_overview" style="display: inline">....</div> out of <div id="total_overview" style="display: inline">....</div> days.</i></font>
  </center>

  {% include 'template/space/insight_main_bottom_space.html' %}

  <!-- SCRIPTS -->
  {% include 'template/general/scroll_page.html' %}

</body>
</html>
<!-- END -->