<!doctype html>
<html>
{% include 'template/general/title.html' %}

<!-- HEADER -->
<header>

  <!-- Dependencies & Co -->
  {% include 'template/general/dependency.html' %}
  {% include 'template/general/flash_message.html' %}

  <!-- Progress Script -->
  <script>
    $(document).ready(function() {
      var refresh_id = setInterval(function() {
          $.get(
            "{{ url_for('intro_load_update_view') }}",
            function(data) {
              $('#load_step').text(data.status_analysis_load);
              $('#total_step').text(data.status_analysis_max);

              if (data.status == 'finished') {
                window.location.replace("{{ url_for('intro_main_view',insight_name=insight_name, insight_current=insight_name) }}");
              } else if (data.status == 'error') {
                window.location.replace("{{ url_for('error_view') }}"); 
              }
            }
          )}
        , 1000);
    });
  </script>

</header>

<!-- BODY -->
<body scroll="no" style="overflow: hidden">

  <!-- Header Section -->
  {% include 'template/general/header_user.html' %}
  {% include 'template/general/header_ribbon_load_analysis.html' %}

  <!-- Content Section -->
  {% include 'template/space/insight_main_top_space.html' %}

  <h3><p style="text-align:center;">The Analysis</p></h3>
  <p style="text-align:center; padding-left:350px; padding-right:350px;"><font color="#464241">

  <br>World-leading academics have built sophisticated algorithms 
  <br>that sifted through millions of pieces of communication to work these things out. 
  <br>
  <br>We can now apply these algorithms to your emails. 
  <br>We take your sent and received emails, we break down the email data into the bits we need 
  <br>for our analysis, and then apply these cutting-edge algorithms to show you how you communicate.
  <br>
  </font></p>
  
  <br><br>

 
  <center>
  <img src="{{ url_for('static', filename='animation/email_loading.gif') }}" style="width:130px;height:100px;"/><br>

  <br><br>
  
  <font color="#575a60"><i>We Are Analyzing Your Emails, Language and Contacts<br>
  We Have Completed <div id="load_step" style="display: inline">....</div> Out Of <div id="total_step" style="display: inline">....</div> Analysis Steps</i></font>
  </center>

  {% include 'template/space/insight_main_bottom_space.html' %}

  <!-- SCRIPTS -->
  {% include 'template/general/scroll_page.html' %}
   
</body>
</html>
<!-- END -->