<!doctype html>
<html>
{% include 'template/general/title.html' %}

<!-- HEADER -->
<header>

  <!-- Dependencies & Co -->
  {% include 'template/general/dependency.html' %}
  {% include 'template/general/flash_message.html' %}

  <!-- Progress Script -->
  <script>
    $(document).ready(function() {
      var refresh_id = setInterval(function() {
          $.get(
            "{{ url_for('intro_load_update_view') }}",
            function(data) {
              $('#load_email').text(data.status_email_load);
              $('#total_email').text(data.status_email_max);
              if (data.status == 'finished') {
                window.location.replace("{{ url_for('intro_load_c_view') }}");
              } else if (data.status == 'error') {
                window.location.replace("{{ url_for('error_view') }}"); 
              }
            }
          )}
        , 1000);
    });
  </script>

</header>

<!-- BODY -->
<body scroll="no" style="overflow: hidden">

  <!-- Header Section -->
  {% include 'template/general/header_user.html' %}
  {% include 'template/general/header_ribbon_load_email.html' %}

  <!-- Content Section -->
  {% include 'template/space/insight_main_top_space.html' %}
  
  <h3><p style="text-align:center;">How We Write Emails</h3></p>
  
  <p style="text-align:center; padding-left:350px; padding-right:350px;"><font color="#464241">
  <br>When you write an email, you’re saying things explicitly. 
  <br>But you’re also communicating subtly in other ways
  <br>
  <br>Sometimes your tone might be more polite, or more curt. 
  <br>
  <br>Sometimes you know how you’ve made an email more polite. 
  <br>Other times, you follow an intuition but you probably couldn’t articulate what you did.
  </font></p>

  <br><br>

  <center>
  <img src="{{ url_for('static', filename='animation/email_loading.gif') }}" style="width:130px;height:100px;"/><br>
  
  <br><br>

  <font color="#575a60"><i>We Are Preparing Your Emails Between {{ earliest_date }} And {{ latest_date }} For Analysis ({{ date_diff }} Days) 
  <br> We Have Prepared <div id="load_email" style="display: inline">....</div> out of <div id="total_email" style="display: inline">....</div> Emails</i></font>
  </center>

  {% include 'template/space/insight_main_bottom_space.html' %}
  
  <!-- SCRIPTS -->
  {% include 'template/general/scroll_page.html' %}

</body>
</html>
<!-- END -->