<!doctype html>
<html>
{% include 'template/general/title.html' %}

<!-- HEADER -->
<header>

  <!-- Dependencies & Co -->
  {% include 'template/general/dependency.html' %}
  {% include 'template/general/flash_message.html' %}

</header>

<!-- BODY -->
{% include 'template/general/body_scroll.html' %}

  <!-- Header Section -->
  {% include 'template/general/header_user.html' %}

  <!-- Content Section -->
  {% include 'template/space/insight_main_top_space.html' %}

  <h3><p style="text-align:center;">Let's Get Started</p></h3>
  
  <p style="text-align:center; padding-left:350px; padding-right:350px;"><font color="#464241">
  <br>All this, using your emails. <br>So let’s dive in!
  <br><br>We’re going to start by comparing how you communicate with men versus with women. 
  <br>
  </font></p>
  
  <center><a href="{{ url_for('insight_intro_view',insight_name=insight_intro) | safe }}"><img src="{{ url_for('static', filename='image/icon/next_skip.png') }}" style="width:17px;height:17px;"/></a></center>
 
   <!-- SCRIPTS -->
  {% include 'template/general/scroll_page.html' %}

</body>
</html>
<!-- END -->