<!doctype html>
<html>
{% include 'template/general/title.html' %}

<!-- HEADER -->
<header>

  <!-- Dependencies & Co -->
  {% include 'template/general/dependency.html' %}
  {% include 'template/general/flash_message.html' %}

  <!-- Progress Script -->
  <script>
    $(document).ready(function() {
      var refresh_id = setInterval(function() {
          $.get(
            "{{ url_for('intro_load_update_view') }}",
            function(data) {
              $('#load_step').text(data.status_analysis_load);
              $('#total_step').text(data.status_analysis_max);
              if (data.status == 'finished') {
                window.location.replace("{{ url_for('intro_main_view',insight_name=insight_name, insight_current_=insight_name) | safe}}");
              } else if (data.status == 'error') {
                window.location.replace("{{ url_for('error_view') }}"); 
              }
            }
          )}
        , 1000);
    });
  </script>

</header>

<!-- BODY -->
{% include 'template/general/body_scroll.html' %}

  <!-- Header Section -->
  {% include 'template/general/header_user.html' %}
  {% include 'template/general/header_ribbon_load_analysis.html' %}

  <!-- Content Section -->
  {% include 'template/space/insight_main_top_space.html' %}

  <h3><p style="text-align:center;">What We Can Learn</p></h3>
  <p style="text-align:center; padding-left:350px; padding-right:350px;"><font color="#464241">

  <br>World-leading academics have built sophisticated algorithms that sifted through
  <br> millions of pieces of data to work out how to analyze communication patterns. 
  <br>
  <br>We can now apply these algorithms to your emails. 
  <br>We take your sent and received emails; we break down the email data into 
  <br>the bits we need for our analysis, and then apply these cutting-edge algorithms 
  <br>to show you how you communicate with different people.
  </font></p>
  
  <br><br>

 
  <center>
  <img src="{{ url_for('static', filename='animation/email_loading.gif') }}" style="width:130px;height:100px;"/><br>

  <br><br>
  
  <font color="#6d6666">We are closely analyzing your emails.<br>
  <i>We have completed <div id="load_step" style="display: inline">....</div> out of <div id="total_step" style="display: inline">....</div> analysis steps.</i></font>
  </center>

  {% include 'template/space/insight_main_bottom_space.html' %}

  <!-- SCRIPTS -->
  {% include 'template/general/scroll_page.html' %}
   
</body>
</html>
<!-- END -->