<!doctype html>
<html>

<!-- LOAD ALTERNATIVE D3 VERSION-->
{% include 'template/general/dependency.html' %}

    <!-- CONTENT -->    
    <center>
    
        <p style="text-align:center; padding-left:350px; padding-right:350px;">
        Let's have a look at who you communicated with broken down by gender.
        <div id="chart_small"></div>
        <div id="text_link"></div>
        <div id="text"></div>
        <br>
        <a href="{{ url_for(next_page, insight_name=insight_name_next, insight_current=insight_name) | safe }}" id="navigation_text"><img src="{{ url_for('static', filename='image/icon/next_skip.png') }}" style="width:17px;height:17px;"/></a>
    
    </center>
    
    <!-- SCRIPT -->    
    <script type="text/javascript">
       {% include "vis_prep/"+insight_name+"/"+insight_name+"_prep.js" %}
        update_raw_data(raw_data={{ insight_data|tojson|safe }})
    </script>

    <!--  Vis Functions -->    
    <script src="{{ url_for('static', filename='vis/'+'vis_template'+'/'+'vis_function.js') }}"></script>
    <script src="{{ url_for('static', filename='vis/'+'vis_template'+'/'+'vis_vis.js') }}"></script>
 
    <!--  Vis -->    
    <script src="{{ url_for('static', filename='vis/'+insight_name+'/'+insight_name+'_vis.js') }}"></script>

</html>

