<!doctype html>
<html>

    <!-- CONTENT -->    
     <div id="text_main"><p style="text-align:center; padding-left:250px; padding-right:250px;"><font color="#464241">
     On the next screen, we'll show you sentiment scores for a few different categories of email:

     <br>
     
     <br><img src="{{ url_for('static', filename='image/icon/idea.png') }}" style="width:22px;height:20px;"/>&nbsp;<b>Average “Positivity”</b><br>This is the average positivity of all of your sent/received emails.
     <br>

     <br><img src="{{ url_for('static', filename='image/icon/idea.png') }}" style="width:22px;height:20px;"/>&nbsp;<b>Positivity Imbalance</b><br>This is the comparison of your positivity versus the positivity of others. <br>This shows whether you’re more positive to others, or they’re more positive to you.  

     <br>

     <br>You'll be able to compare these scores for your communication with women versus with men. <br>Click to dive into your sentiment analysis results!
    
     </font></p></div>
</html>



