<!doctype html>
<html>

    <!-- CONTENT -->    
    <center>
    
     <div id="text_main">{% include "vis_prep/"+insight_name+"/"+insight_name+"_text.html" %}</div>
     <div id="text_link"></div>
     <div id="text"></div>
     <br>
     <a href="{{ url_for(next_page, insight_name=insight_name_next,insight_current=insight_name) | safe }}" id="navigation_text"><img src="{{ url_for('static', filename='image/icon/next_skip.png') }}" style="width:17px;height:17px;"/></a><br><a href="{{ url_for('insight_intro_view',insight_name=insight_name) | safe }}" id="navigation_text">(Return to Insight Introduction)</a>
    
    </center>
    
     <!-- SCRIPT -->    
    <script type="text/javascript">
       {% include "vis_prep/"+insight_name+"/"+insight_name+"_prep.js" %}
        update_raw_data(raw_data={{ insight_data|tojson|safe }})
    </script>

</html>

