<!doctype html>
<html>

    <!-- CONTENT -->    
     <div id="text_main"><p style="text-align:center; padding-left:150px; padding-right:150px;"><font color="#464241">
     Vivamus vestibulum ante sit amet semper gravida. Maecenas vitae semper lorem. In id fringilla justo, nec congue libero. Nam a nunc fermentum, vehicula quam eu, scelerisque nulla.
     <br>What we’ll show you is the average “positivity” score for a few different groups:

     <br>
     
     <br><b>Your Average “Positivity”</b><br>This is the average positivity of all of your requests
     <br>

     <br><b>Average “Positivity” of Others</b><br>This is the average positivity score for all requests sent to you, i.e. requests that others made of you

     <br>

     <br><b>“Positivity” Imbalance”</b><br>This is the comparison of your positivity versus the positivity of others. This shows whether you’re more positive to others, or they’re more positive to you.  

     <br>

     <br>We’ll show you these to start with, and then we’ll show you these same measures grouped by your communication with men versus women, so you can see whether you’re relatively more positive to women or to men.
    
     </font></p></div>
</html>



