<!doctype html>
<html>
	
	<!-- CONTENT -->
	<script>

		$sample_1 = ":) Have you found the answer for your question? If yes would you please share it?"
		$sample_2 = "Sorry! I dont want to hack the system. Is there another way?"
		$sample_3 = "What are you trying to do?  Why can you not just store the Range?"
		$sample_4 = "This was supposed to have been moved; per the cfd. why was it not moved?"

		$warning = "Please phrase your text as a request."
	
	</script>

	{% include 'template/general/sample_analysis.html' %}

</html>
<!-- END -->
