<!doctype html>
<html>

    <!-- CONTENT -->    
     <div id="text_main"><p style="text-align:center; padding-left:150px; padding-right:150px;"><font color="#464241">
     So, each of your emails that had a “request” has been analyzed by our algorithm and given a “politeness” score. 
     <br>What we’ll show you is the average “politeness” score for a few different groups:

     <br>
     
     <br><b>Your Average “Politeness”</b><br>This is the average politeness of all of your requests
     <br>

     <br><b>Average “Politeness” of Others</b><br>This is the average politeness score for all requests sent to you, i.e. requests that others made of you

     <br>

     <br><b>“Politeness Imbalance”</b><br>This is the comparison of your politeness versus the politeness of others. This shows whether you’re more polite to others, or they’re more polite to you.  

     <br>

     <br>We’ll show you these to start with, and then we’ll show you these same measures grouped by your communication with men versus women, so you can see whether you’re relatively more polite to women or to men.
    
     </font></p></div>
     
</html>



