<!doctype html>
<html>

    <!-- CONTENT -->    
     <div id="text_main"><p style="text-align:center; padding-left:250px; padding-right:250px;"><font color="#464241">
     Pellentesque accumsan a ex ac fermentum. Aenean rutrum condimentum augue:
     <br>
     
     <br><img src="{{ url_for('static', filename='image/icon/idea.png') }}" style="width:22px;height:20px;"/>&nbsp;<b>Pellentesque Accumsa</b>
     <br>Nulla in leo erat. Aenean rutrum, turpis et faucibus cursus, nibh dolor lacinia ex, ut facilisis tortor justo dapibus turpis. Vestibulum venenatis nisi nec pharetra tempor.
      <br><br>

     <br><img src="{{ url_for('static', filename='image/icon/idea.png') }}" style="width:22px;height:20px;"/>&nbsp;<b>Praesent Tincidunt</b><br>Pellentesque accumsan a ex ac fermentum. Aenean rutrum condimentum augue. 

     <br>

     <br>You'll be able to compare each of these measures across groups. Let's take a look!
    
     </font></p></div>
     
</html> 