<!doctype html>
<html>

    <!-- CONTENT -->    
     <div id="text_main"><p style="text-align:center; padding-left:250px; padding-right:250px;"><font color="#464241">
     We're going to take a look at your proactiveness in a few different ways: 
     <br>
     
     <br><img src="{{ url_for('static', filename='image/icon/idea.png') }}" style="width:22px;height:20px;"/>&nbsp;<b>Start Conversation</b>
     <br>This is the percentage of conversations in which you sent the first email.
    
    <br><br>

     <br><img src="{{ url_for('static', filename='image/icon/idea.png') }}" style="width:22px;height:20px;"/>&nbsp;<b>End Conversation</b><br>This is the percentage of conversations in which you sent the last email.

     <br>

     <br>You'll be able to see your average start/finish scores, as well as scores for your conversations with women and with men. Let's take a look!
    
     </font></p></div>
     
</html> 