<!doctype html>
<html>

  <center>
  
  <div class="nav3">
     <span class="icons">Date<a href="{{ url_for('insight_c_view',insight_name='date_dist') }}" ><img src="{{ url_for('static', filename='image/icon/date_dist.png') }}" style="width:30px;height:30px;"></a><a href="{{ url_for('insight_info_view',insight_name='date_dist') }}">Info</a></span>
   
     <span class="icons">Time<a href="{{ url_for('insight_c_view',insight_name='time_dist') }}" ><img src="{{ url_for('static', filename='image/icon/time_dist.png') }}" style="width:30px;height:30px;"></a><a href="{{ url_for('insight_info_view',insight_name='time_dist') }}">Info</a></span>
  
     <span class="icons">Network<a href="{{ url_for('insight_c_view',insight_name='network') }}" ><img src="{{ url_for('static', filename='image/icon/network.png') }}" style="width:30px;height:30px;"></a><a href="{{ url_for('insight_info_view',insight_name='network') }}">Info</a></span>

  </div> 

  <br>
  <div class="nav3">

     <span class="icons">Talkative<a href="{{ url_for('insight_c_view',insight_name='talkative') }}" ><img src="{{ url_for('static', filename='image/icon/talkative.png') }}" style="width:30px;height:30px;"></a><a href="{{ url_for('insight_info_view',insight_name='talkative') }}">Info</a></span>

  
     <span class="icons">First/Last<a href="{{ url_for('insight_c_view',insight_name='firstlast') }}" ><img src="{{ url_for('static', filename='image/icon/firstlast.png') }}" style="width:30px;height:30px;"></a><a href="{{ url_for('insight_info_view',insight_name='firstlast') }}">Info</a></span>

   <span class="icons">Responsiveness<a href="{{ url_for('insight_c_view',insight_name='responsiveness') }}" ><img src="{{ url_for('static', filename='image/icon/responsiveness.png') }}" style="width:30px;height:30px;"></a><a href="{{ url_for('insight_info_view',insight_name='responsiveness') }}">Info</a></span>

  </div> 
  <br>

  <br>
  <div class="nav3">

     <span class="icons">Sentiment<a href="{{ url_for('insight_c_view',insight_name='sentiment') }}" ><img src="{{ url_for('static', filename='image/icon/sentiment.png') }}" style="width:30px;height:30px;"></a><a href="{{ url_for('insight_info_view',insight_name='sentiment') }}">Info</a></span>

     <span class="icons">Politeness<a href="{{ url_for('insight_c_view',insight_name='politeness') }}" ><img src="{{ url_for('static', filename='image/icon/politeness.png') }}" style="width:30px;height:30px;"></a><a href="{{ url_for('insight_info_view',insight_name='politeness') }}">Info</a></span>

     <span class="icons">Coordination<a href="{{ url_for('insight_c_view',insight_name='coordination') }}" ><img src="{{ url_for('static', filename='image/icon/coordination.png') }}" style="width:30px;height:30px;"></a><a href="{{ url_for('insight_info_view',insight_name='coordination') }}">Info</a></span>

  </div> 
  <br>

  <div class="nav3">

     <img class="icons" src="{{ url_for('static', filename='image/icon/blank.png') }}" style="width:30px;height:30px;">

     <span class="icons"><font color="#e2e2e2">Topic</font><img src="{{ url_for('static', filename='image/icon/topic.png') }}" style="width:30px;height:30px;opacity:0.3;"></span>
   
     <span class="icons"><font color="#e2e2e2">Question</font><img src="{{ url_for('static', filename='image/icon/question.png') }}" style="width:30px;height:30px;opacity:0.3;"></span>
  
     <img class="icons" src="{{ url_for('static', filename='image/icon/blank.png') }}" style="width:30px;height:30px;">


  </div> 

  <br>

  </center> 
  
</html>
<!-- END -->