<!doctype html>
<html>

	<!-- STYLE-->
 	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/general_style.css')}}">
 	<link rel=stylesheet href="{{ url_for('static', filename='style/font-awesome.min.css')}}">

	<!-- DEPENDENCY (NOTE: D3 version 2 loaded as d3v2) -->
  	<script src="{{ url_for('static', filename='dependency/jquery/jquery.v2.min.js') }}"></script>
	<script src="{{ url_for('static', filename='dependency/d3/d3.v4.min.js') }}"></script>
	<script src="{{ url_for('static', filename='dependency/d3/d3.v2.min.js') }}"></script>

</html>
<!-- END -->