<!doctype html>
<html>
    
    <div class="vertical-menu parent_1">
    
    <br><br><br><br><br><br>

    {% if insight_mode=="explore" %}
      {% if insight_name=='date_dist' %}
        <a href="{{ url_for('insight_c_view',insight_name='date_dist') | safe }}" class="active"><font color ="#8f9299">Volume</font></a>
      {% else %}
         <a href="{{ url_for('insight_c_view',insight_name='date_dist') | safe }}""><font color="#8f9299">Volume</font></a>   
      {% endif %}

      {% if insight_name=='time_dist' %}
        <a href="{{ url_for('insight_c_view',insight_name='time_dist') | safe }}" class="active"><font color ="#8f9299">Patterns</font></a>
      {% else %}
         <a href="{{ url_for('insight_c_view',insight_name='time_dist') | safe }}""><font color="#8f9299">Patterns</font></a>   
      {% endif %}

      {% if insight_name=='network' %}
        <a href="{{ url_for('insight_c_view',insight_name='network') | safe }}" class="active"><font color ="#8f9299">Networks</font></a>
      {% else %}
         <a href="{{ url_for('insight_c_view',insight_name='network') | safe }}""><font color="#8f9299">Networks</font></a>   
      {% endif %}

      {% if insight_name=='talkative' %}
        <a href="{{ url_for('insight_c_view',insight_name='talkative') | safe }}" class="active"><font color ="#8f9299">Talkativeness</font></a>
      {% else %}
         <a href="{{ url_for('insight_c_view',insight_name='talkative') | safe }}""><font color="#8f9299">Talkativeness</font></a>   
      {% endif %}
  
      {% if insight_name=='responsiveness' %}
        <a href="{{ url_for('insight_c_view',insight_name='responsiveness') | safe }}" class="active"><font color ="#8f9299">Responsiveness</font></a>
      {% else %}
         <a href="{{ url_for('insight_c_view',insight_name='responsiveness') | safe }}""><font color="#8f9299">Responsiveness</font></a>   
      {% endif %}

      {% if insight_name=='firstlast' %}
        <a href="{{ url_for('insight_c_view',insight_name='firstlast') | safe }}" class="active"><font color ="#8f9299">Proactiveness</font></a>
      {% else %}
         <a href="{{ url_for('insight_c_view',insight_name='firstlast') | safe }}""><font color="#8f9299">Proactiveness</font></a>   
      {% endif %}

      {% if insight_name=='sentiment' %}
        <a href="{{ url_for('insight_c_view',insight_name='sentiment') | safe }}" class="active"><font color ="#8f9299">Positiveness</font></a>
      {% else %}
         <a href="{{ url_for('insight_c_view',insight_name='sentiment') | safe }}""><font color="#8f9299">Positiveness</font></a>   
      {% endif %}
  
      {% if insight_name=='politeness' %}
        <a href="{{ url_for('insight_c_view',insight_name='politeness') | safe }}" class="active"><font  color="#8f9299">Politeness</font></a>
      {% else %}
         <a href="{{ url_for('insight_c_view',insight_name='politeness') | safe }}""><font color="#8f9299">Politeness</font></a>   
      {% endif %}
  
      {% if insight_name=='coordination' %}
        <a href="{{ url_for('insight_c_view',insight_name='coordination') | safe }}" class="active"><font  color="#8f9299">Coordination</font></a>
      {% else %}
         <a href="{{ url_for('insight_c_view',insight_name='coordination') | safe }}""><font color="#8f9299">Coordination</font></a>   
      {% endif %}
    
    {% else %}
      
      <font color ="#8f9299"></font>
      <font color ="#8f9299"></font>
      <font color ="#8f9299"></font>
      <font color ="#8f9299"></font>
      <font color ="#8f9299"></font>
      <font color ="#8f9299"></font>
      <font color ="#8f9299"></font>
    
    {% endif %}
    
    </div>
    
</html>
<!-- END -->

