<!doctype html>
<title>Email Browser</title>

<head>
    <script type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
</head>

<link rel="shortcut icon" href="{{ url_for('static', filename='image/icon/favicon.ico') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/general_style.css') }}">

<font color="#464241"><h3>KnowingMe</h3></font>

<body>
<div class=page>
  
  <a href="/reload_pre">Previous Email</a>&nbsp;&nbsp;||&nbsp;&nbsp; 
  <a href="/reload_next">Next Email</a>&nbsp;&nbsp;||&nbsp;&nbsp;
  <a href="/success">Return To Overview</a> 

  <br><br>
  
  <h1>Meta Data (Email - Level)</h1>
  <br>
  {% for table in meta %}
    <h2>{{""}}</h2>
    {{ table|safe }}
  {% endfor %}

  <br><br>

  {% if mode=="inbox_outbox" %}

  <h1>Insights (Link-Level)</h1>
  <br>

  <form action="{{ url_for('reset_link_id') }}" method='POST'>

  <select type="select" name=link_id_store method="GET" action="/">
    {% for item in link_list %}
    <option value= "{{ link_id[item] }}" SELECTED>{{ link_desc[item] }}</option>"
    {% endfor %}

  </select>
  &nbsp;&nbsp;<button type="submit">Switch Link</button>
  </form>


  <br>
    {% for table in insight %}
    <h2>{{""}}</h2>
    Search for Insights:&nbsp;&nbsp; <input type="text" id="search" placeholder="politeness"/>
    {{ table|safe }}
  {% endfor %}

  <br><br>

  {% endif %}

  <h1>Email Text</h1>
  <br>
  {% for item in text %}
    <h2>{{""}}</h2>
    <pre>{{item.decode('utf-8')|safe}}</pre>
  {% endfor %}

  <br><br>

  {% if mode=="inbox_outbox" %}

  <h1>Email Text - Sentence-Level</h1>
  <br>
  {% for item in text_decomposed %}
    <h2>{{""}}</h2>
    <pre>{{item.decode('utf-8')|safe}}</pre>
  {% endfor %}

  {% else %}

  <br><br>

  <h1>Email Text - Sentence-Level</h1>
  <br>
  {% for item in text_decomposed %}
    <h2>{{""}}</h2>
    <pre>{{item|safe}}</pre>
  {% endfor %}

  {% endif %}

</div>
<br><br>
<br><br>
</body>

<script type="text/javascript">
  $("#search").keyup(function () {
    var data = this.value.split(" ");
    var jo = $("#fbody").find("tr");
    if (this.value == "") {
        jo.show();
        return;
    }
    jo.hide();

    //recusively filter the jquery object to get results
    jo.filter(function (i, v) {
        var $t = $(this);
        for (var d = 0; d < data.length; ++d) {
            if ($t.is(":contains('" + data[d] + "')")) {
                return true;
            }
        }
        return false;
    })
    .show();
    }).focus(function () {
    this.value = "";
    $(this).css({
        "color": "black"
    });
    $(this).unbind('focus');
    }).css({
    "color": "#C0C0C0"
    });
</script>
</html>