<!doctype html>
<title>KnowingMe</title>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
  {% endif %}
{% endwith %}


<link rel="shortcut icon" href="{{ url_for('static', filename='image/icon/favicon.ico') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/general_style.css') }}">


<br><br><br><br><br><br><br><br>
<p style="text-align:center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img text-align="centre" src="{{url_for('static', filename='image/icon/home.png')}}" style="width:200;height:200;"/><br></p>
<h3><p style="text-align:center;"><font color="#464241">KnowingMe</font></p></h3>
<h2><p style="text-align:center;"><a href="/gmail_authentication">START</a></p></h2>
<p style="text-align:center;"><a href="/reset">[Reset]</a></p>

<br>
<br>
 

