<!doctype html>
<title>NLP Insights</title>
<head>

<link rel="shortcut icon" href="{{ url_for('static', filename='image/icon/favicon.ico') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/general_style.css') }}">

</head>

<body>

<font color="#464241"><h3>KnowingMe</h3></font>

<a href="/success">Return To Overview</a> 

<br><br>

# <b> NLP INSIGHTS </b> [&nbsp;&nbsp;<a href="#Politeness">POLITENESS</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#Sentiment">SENTIMENT</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#LinguisticCoordination">LINGUISTICCOORDINATION</a>&nbsp;&nbsp;]

<hr/>
<br>

<img src="{{url_for('static', filename='image/icon/politeness.png')}}" style="width:25px;height:25px;"/> 
<b> &nbsp;&nbsp;<a id="Politeness">Politeness</a></b> - <i> Politeness  </i>
<hr align="left" width="30%" color="LightGray">
<hr align="left" width="30%" color="LightGray">

<br>

<h2>{{"Aggregate"}}</h2>
{{ nlp_politeness_df[0]|safe }}

<br>
<h2>"By Contact Group [{{ user_group_name_a }} / {{ user_group_name_b }} / No Group]"</h2>
{{ nlp_politeness_df[1]|safe }}

<br>
<h2>{{"By Time"}}</h2>
<br>
<i><h2>&nbsp;&nbsp;>> Average Politeness (Day)</h2></i>
<div id="{{ids[0]}}" style="width:60%;height:20%"></div>

<i><h2>&nbsp;&nbsp;>> Average Politeness (Week)</h2></i>
<div id="{{ids[1]}}" style="width:60%;height:20%"></div>

<i><h2>&nbsp;&nbsp;>> Average Politeness (Week Day)</h2></i>
<div id="{{ids[2]}}" style="width:60%;height:20%"></div>

<i><h2>&nbsp;&nbsp;>> Average Politeness (Time Period)</h2></i>
<div id="{{ids[3]}}" style="width:60%;height:20%"></div>


<img src="{{url_for('static', filename='image/icon/sentiment.png')}}" style="width:25px;height:25px;"/> 

<b> &nbsp;&nbsp;<a id="Sentiment">Sentiment</a></b> - <i> Sentiment </i>
<hr align="left" width="30%" color="LightGray">
<hr align="left" width="30%" color="LightGray">

<br>

<h2>{{"Aggregate"}}</h2>
{{ nlp_sentiment_df[0]|safe }}

<br>
<h2>"By Contact Group [{{ user_group_name_a }} / {{ user_group_name_b }} / No Group]"</h2>
{{ nlp_sentiment_df[1]|safe }}

<br>
<h2>{{"By Category"}}</h2>
<br>
<i><h2>&nbsp;&nbsp;>> Most Common Sentiments - Overall </h2></i>
<div id="{{ids[4]}}" style="width:60%;height:20%"></div>

<i><h2>&nbsp;&nbsp;>> Most Common Sentiments - Sent Emails </h2></i>
<div id="{{ids[5]}}" style="width:60%;height:20%"></div>

<i><h2>&nbsp;&nbsp;>> Most Common Sentiments - Received Emails </h2></i>
<div id="{{ids[6]}}" style="width:60%;height:20%"></div>

<img src="{{url_for('static', filename='image/icon/linguisticcoordination.png')}}" style="width:25px;height:25px;"/> 
<b> &nbsp;&nbsp;<a id="LinguisticCoordination">LinguisticCoordination</a></b> - <i> Linguistic Coordination </i>
<hr align="left" width="30%" color="LightGray">
<hr align="left" width="30%" color="LightGray">

<br>

<h2>{{"Aggregate"}}</h2>
{{ nlp_linguisticcoordination_df[0]|safe }}

<br>
<h2>"By Contact Group [{{ user_group_name_a }} / {{ user_group_name_b }} / No Group]"</h2>
{{ nlp_linguisticcoordination_df[1]|safe }}

<br>
<h2>{{"By Category"}}</h2>
<br>
<i><h2>&nbsp;&nbsp;>> Linguistic Coordination Scores </h2></i>
<div id="{{ids[7]}}" style="width:60%;height:20%"></div>



<br><br><br>
</body>

<footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>

    <script type="text/javascript">

        var graphs = {{graphJSON | safe}};
        var ids = {{ids | safe}};
        for(var i in graphs) {
            Plotly.plot(ids[i], 
                        graphs[i].data,
                        {font: {size: 12}, margin: {b: 100, l:20, r:200,t:0}, xaxis: {tickangle: 45}, yaxis: {range:[0,1]}},{displayModeBar: false,showLink: false,hovermode: false});
 
  
        }

    </script>
</footer>
