<!doctype html>
<title>Insight Generation</title>

<html>
<head>

    <link rel="shortcut icon" href="{{ url_for('static', filename='image/icon/favicon.ico') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/general_style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
      $(document).ready(function() {
        var refresh_id = setInterval(function() {
            $.get(
              "{{ url_for('feature_status') }}",
              function(data) {
                console.log(data.status)
                console.log(data.status_feature)
                for (i = 0; i <= 16; i++) {
                  if(data.status_feature>=i) {
                    $('#stage_'+i).prop("checked", true);
                  }
                }
                if (data.status == 'finished') {
                  window.location.replace("{{ url_for('user_group_agg') }}");
                } else if (data.status == 'error') {
                  window.location.replace("{{ url_for('error') }}"); 
                }
              }
            )}
          , 2000);
      });
    </script>
        
</head>
<body>
    
    <font color="#464241"><h3>KnowingMe</h3> </font>

   
    >> Generating Insights.......... Please Wait

    <br>
    <br>
    <img src="{{url_for('static', filename='image/icon/prepare.png')}}" style="width:25px;height:25px;"/> 

    <i>&nbsp;&nbsp;Getting Set-Up</i>
    <hr align="left" width="30%" color="LightGray">
    <br>
    <input type="checkbox" name="load" id="stage_1" value=""><label>&nbsp;&nbsp;Loading your emails</label><br>
    <input type="checkbox" name="conver_structure" id="stage_2" value=""><label>&nbsp;&nbsp;Understanding the structure of your conversations</label><br>
    <input type="checkbox" name="conver_obj" id="stage_3" value=""><label>&nbsp;&nbsp;Analyzing your conversations</label><br>
    <input type="checkbox" name="msg_obj" id="stage_4" value=""><label>&nbsp;&nbsp;Analyzing your messages</label><br>
    <input type="checkbox" name="link_obj" id="stage_5" value=""><label>&nbsp;&nbsp;Analyzing links between you and your contacts</label><br>
    <input type="checkbox" name="contact_obj" id="stage_6" value="ff"><label>&nbsp;&nbsp;Analyzing your contacts </label><br>
    <input type="checkbox" name="text_obj" id="stage_7" value=""><label>&nbsp;&nbsp;Analyzing the text of your messages</label><br>
    <input type="checkbox" name="contact_agg" id="stage_8" value=""><label>&nbsp;&nbsp;Classifying your contacts by gender </label><br>
    <br>
    <br>
    <img src="{{url_for('static', filename='image/icon/ready.png')}}" style="width:25px;height:25px;"/> 
    <i>&nbsp;&nbsp;Generating Insights</i><hr align="left" width="30%" color="LightGray">
    <br>
    <input type="checkbox" name="nonlang_volume" id="stage_9" value=""><label>&nbsp;&nbsp;Generating Insights > Volume</label><br>
    <input type="checkbox" name="nonlang_firstlast" id="stage_10" value=""><label>&nbsp;&nbsp;Generating Insights > Begin/End Conversations</label><br>
    <input type="checkbox" name="nonlang_responsiveness" id="stage_11" value=""><label>&nbsp;&nbsp;Generating Insights > Responsiveness</label><br>
    <input type="checkbox" name="simplelang_birthday" id="stage_12" value=""><label>&nbsp;&nbsp;Generating Insights > Birthday</label><br>
    <input type="checkbox" name="simplelang_talkative" id="stage_13" value=""><label>&nbsp;&nbsp;Generating Insights > Talkativeness</label><br>
    <input type="checkbox" name="simplelang_lengthimbalance" id="stage_14" value=""><label>&nbsp;&nbsp;Generating Insights > Verbosity Imbalance</label><br>
    <input type="checkbox" name="nlp_politeness" id="stage_15" value=""><label>&nbsp;&nbsp;Generating Insights > Politeness</label><br>
    <input type="checkbox" name="nlp_sentiment" id="stage_16" value=""><label>&nbsp;&nbsp;Generating Insights > Sentiments</label><br>
    <input type="checkbox" name="nlp_coordination" id="stage_17" value=""><label>&nbsp;&nbsp;Generating Insights > Language Coordination</label><br>

</body>
</html>