<!doctype html>
<title>Contact Groups</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='image/icon/favicon.ico') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/general_style.css') }}">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
  {% endif %}
{% endwith %}

<body>

<font color="#464241"><h3>KnowingMe</h3></font>

<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Load Existing Categorization</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="/user_group_load">** Most Recent Grouping</a>
    
    {% for i in user_group_name_list_id %}
    <a href="{{ user_group_name_list_address[i] }}">{{ user_group_name_list_name[i] }}</a>
    {% endfor %}
  </div>
</div>
<br><br>
<script>

function myFunction() {
    console.log("dropdown")
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

<form action="{{ url_for('user_group_new') }}" method="post">

	# <b> MOST COMMON CONTACTS - Grouped by {{ user_group_name }} / Sorted by {{ order }}</b>
	<hr/>
	<i>Sort Contacts By:
	<a href="/user_group_agg">Overall # Emails</a>&nbsp;&nbsp;||&nbsp;&nbsp;
	<a href="/user_group_outbox">Sent # Emails</a> &nbsp;&nbsp;||&nbsp;&nbsp;
	<a href="/user_group_inbox">Received # Emails</a></i>

	<br>
	<br>
	&nbsp;{{ user_group_name_a }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ user_group_name_b }}  
	<br>

	{% for i in contact_id %}

 	&nbsp;&nbsp;<input type="checkbox" id="id_{{i}}_group_1" name="user_group_1" value="{{contact[i]}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 	&nbsp;&nbsp;<input type="checkbox" id="id_{{i}}_group_2" name="user_group_2" value="{{contact[i]}}"> 
 	&nbsp;&nbsp;&nbsp;&nbsp;<label for="id_{{i}}">{{contact[i]}} - <i>{{name[i]}}</i> [Emails: {{freq[i]}}]</label>
 	<br>
 	{% endfor %}

	<br><br>
	
	<input type="Submit" value="Define Contact Groups">

</form>

<br><br>
<script>
$contact = {{ contact|tojson|safe }};
$contact_id = {{ contact_id|tojson|safe }};
$user_group_1_store = {{ user_group_1_store|tojson|safe }};
$user_group_2_store = {{ user_group_2_store|tojson|safe }};
for (i in $contact_id ) {
	if ($user_group_1_store.includes($contact[i])) {
		$("#id_"+i+"_group_1").attr("checked", true);
	}
	if ($user_group_2_store.includes($contact[i])) {
		$("#id_"+i+"_group_2").attr("checked", true);
	}


}



</script>
</body>