<!doctype html>
<html>
{% include 'template/general/title.html' %}

<!-- HEADER -->
<header>

  <!-- Dependencies & Co -->
  {% include 'template/general/dependency.html' %}
  {% include 'template/general/flash_message.html' %}

</header>

<!-- BODY -->
<body scroll="no" style="overflow: hidden">

	<!-- Content Section - MAIN -->
    <section id="section01" class="demo">
	
		{% include 'template/space/landing_main_top_space.html' %}

		<p style="text-align:center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img text-align="centre" src="{{url_for('static', filename='image/icon/home.png')}}"/><br></p>
	
		<h3><p style="text-align:center;">KnowingMe</p></h3>
		<h2><i><p style="text-align:center;">You Are What You Write</p></i></h2>
	
		<p style="text-align:center; padding-left:400px; padding-right:400px;"><font color="#464241">Every time you write an email, you’re creating a piece of data. One email - one piece of data - doesn’t tell us much. But you probably write hundreds in a week. You have thousands of saved emails that you’ve sent and received. What if we looked at all those emails, combed through them to find patterns. <br>What would we find?<br><br> Using our state-of-the-art analytical techniques, <br>we review your emails and compare how you communicate with different groups <br>to help you unlock insights that you almost-but-didn’t-quite know about yourself.</font></p>

		<p style="text-align:center;"><a href="/gmail_authentication">Get Started</a>&nbsp;&nbsp;||&nbsp;&nbsp;<a href="#section02">Learn More</a>&nbsp;</p>

		{% include 'template/space/landing_main_bottom_space.html' %}

	</section>

	<!-- Content Section - ADDITIONAL -->
    <section id="section02" class="demo">
    
    	{% include 'template/space/landing_scroll_top_space.html' %}

    	<br><br><br><br><br><br>
    
    	<p style="text-align:center; padding-left:400px; padding-right:400px;"><font color="#464241">We’ve brought together insights from world-leading academics and turned that into an analytical package. Now, we take your email data and run it through the package to develop a set of personalized insights about how you communicate with others.
    	<br>

    	<br><br><img src="{{url_for('static', filename='image/icon/academic.png')}}" style="width:50px;height:50px;"/><br><b>Academic Oomph</b><br><br><font color="#626368">Cutting edge analysis from world-leading academics.</font>
	
		<br><br><br><img src="{{url_for('static', filename='image/icon/analytic.png')}}" style="width:50px;height:50px;"/><br><b>Analytical Power</b><br><br><font color="#626368">Serious processing on a big data set - yours!</font>
	
		<br><br><br><img src="{{url_for('static', filename='image/icon/personalized.png')}}" style="width:50px;height:50px;"/><br><b>Personalized Insights</b><br><br><font color="#626368">You choose what you want to see.</font></font></p>

		<br>

		<p style="text-align:center;"><a href="#section01"><img src="{{url_for('static', filename='image/icon/top.png')}}" style="width:15px;height:15px;"/></a></p>

    	{% include 'template/space/landing_scroll_bottom_space.html' %}

    </section>

  <!-- SCRIPTS -->
  {% include 'template/general/scroll_page.html' %}

</body>
</html>

<!-- END -->
