<!doctype html>
<html>
{% include 'template/general/title.html' %}

<!-- HEADER -->
<header>

  <!-- Dependencies & Co -->
  {% include 'template/general/dependency.html' %}
  {% include 'template/general/flash_message.html' %}

</header>

<!-- BODY -->
<body scroll="no" style="overflow: hidden">

	<!-- Content Section - MAIN -->
    <section id="section01" class="demo">
	
		{% include 'template/space/landing_main_top_space.html' %}

		<p style="text-align:center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img text-align="centre" src="{{url_for('static', filename='image/icon/home.png')}}" style="width:200;height:200;"/><br></p>
	
		<h3><p style="text-align:center;">KnowingMe</p></h3>
		<h2><i><p style="text-align:center;">You Are What You Write</p></i></h2>
	
		<p style="text-align:center; padding-left:350px; padding-right:350px;"><font color="#464241">Every time you write an email, you’re creating a piece of data. One email - one piece of data - doesn’t tell us much. But you probably write hundreds in a week. You have thousands of saved emails that you’ve sent and received. What if we looked at all those emails, combed through them to find patterns. What would we find?<br><br> Using our state-of-the-art analytical techniques, we review your emails and generate findings you’d never know we could uncover. We compare how you communicate with different groups, finding patterns in the way you write and construct your emails. We’re so excited to guide you on a personal journey that will help you unlock insights that you almost-but-didn’t-quite know about yourself.</font></p>

		<p style="text-align:center;"><a href="/gmail_authentication">Let's Get Started</a>&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;&nbsp;<a href="#section02">Learn More</a></p>

		{% include 'template/space/landing_main_bottom_space.html' %}

	</section>

	<!-- Content Section - ADDITIONAL -->
    <section id="section02" class="demo">
    
    	{% include 'template/space/landing_scroll_top_space.html' %}

    	<br><br><br><br><br><br>
    
    	<p style="text-align:center; padding-left:350px; padding-right:350px;"><font color="#464241"><i>We’ve brought together insights from world-leading academics and turned that into an analytical package. Now, we take your email data and run it through the package to develop a set of personalised, customizable insights about how you communicate with others.</i>
    	<br>

    	<br><br><img src="{{url_for('static', filename='image/icon/academic.png')}}" style="width:50px;height:50px;"/><br><b>Academic Oomph</b><br>We’ve combed papers and studies written by world-leading academics to bring you the most relevant and cutting edge ways of analyzing text to generate meaningful insights
	
		<br><br><br><img src="{{url_for('static', filename='image/icon/analytic.png')}}" style="width:50px;height:50px;"/><br><b>Analytical Power</b><br>Our analytical machine processes your emails to generate the data points we need to develop unique insights about the way you communicate with others
	
		<br><br><br><img src="{{url_for('static', filename='image/icon/personalized.png')}}" style="width:50px;height:50px;"/><br><b>Personalized Insights</b><br>Customize the insights to see what’s most interesting to you: maybe you’re interested in comparing how you communicate with women versus with men, or with your peers versus your bosses</font></p>

		<br><br>

		<p style="text-align:center;"><a href="#section01">Return To Landing Page</a></p>

    	{% include 'template/space/landing_scroll_bottom_space.html' %}

    </section>

  <!-- SCRIPTS -->
  {% include 'template/general/scroll_page.html' %}

</body>
</html>

<!-- END -->
