<!doctype html>
<html>
{% include 'template/general/title.html' %}


<!-- HEADER -->
<header>

  <!-- Dependencies & Co -->
  {% include 'template/general/dependency.html' %}
  {% include 'template/general/flash_message.html' %}

</header>

<!-- BODY -->
{% include 'template/general/body_scroll.html' %}

  <!-- Content Section - MAIN -->
  <section id="section01" class="demo">
    
    <!-- Header Section -->
    {% include 'template/general/header_user_blank.html' %}
    {% include 'template/general/header_ribbon_authentication.html' %}
    
    <!-- Content Section -->
    {% include 'template/space/main_top_space.html' %}
    
    
    <h3><p style="text-align:center;">Let's Get Logged-In</p></h3>
  
    <p style="text-align:center; padding-left:350px; padding-right:350px;"><font color="#464241">To create insights about the way you communicate with others, we need to analyze your email data which is why we are asking you to authenticate with your Gmail account. If you have not previously authenticated, you’ll see a request for permission on the next page.<br><br>Your email data is personal, and we take your trust seriously. <br>  &#8226; <i>No data leaves your computer. <br> &#8226; Any data that is generated is deleted once you log out or close the app.</i>
    </font></p>
 
    <p style="text-align:center;"><a href={{ auth_url }}>Authenticate</a>&nbsp;&nbsp;||&nbsp;&nbsp;<a href="#section02">Learn More</a>&nbsp;&nbsp;</p>

    {% include 'template/space/insight_main_scroll_bottom_space.html' %}

  
  </section>

  <!-- Content Section - ADDITIONAL -->
  <section id="section02" class="demo">
  
      <!-- Header Section -->
    {% include 'template/general/header_user_blank.html' %}
    {% include 'template/general/header_ribbon_authentication.html' %}

    {% include 'template/space/landing_scroll_top_space.html' %}
    {% include 'template/space/landing_scroll_top_space.html' %}
    {% include 'template/space/landing_scroll_top_space.html' %}

    <p style="text-align:center; padding-left:350px; padding-right:350px;"><font color="#464241"> We want to help you understand how you communicate.<br><br>To do this, we pull the text and meta-data of your emails from Gmail and run it through our analytical package. All processing takes place locally on your computer. No data leaves your computer, and all data is deleted once you log out or close the app.<br>

    <br><br><i>We realize that you're placing a large trust in our service. <br>If you have concerns that aren't covered here, please <a href="http://knowingmeapp.com/contact-us/">contact us</a></i>.

    <br><br>

    <p style="text-align:center;"><a href="#section01"><img src="{{url_for('static', filename='image/icon/top.png')}}" style="width:15px;height:15px;"/></a></p>

    {% include 'template/space/landing_scroll_bottom_space.html' %}

  </section>

  <!-- SCRIPTS -->
  {% include 'template/general/scroll_page.html' %}

</body>
</html>
<!-- END -->
