<!doctype html>
<html>
{% include 'template/general/title.html' %}


<!-- HEADER -->
<header>

  <!-- Dependencies & Co -->
  {% include 'template/general/dependency.html' %}
  {% include 'template/general/flash_message.html' %}

</header>

<!-- BODY -->
<body scroll="no" style="overflow: hidden">

  <!-- Content Section - MAIN -->
  <section id="section01" class="demo">
  
    {% include 'template/space/main_top_space.html' %}
  
    <h3><p style="text-align:center;">Let's Get Logged In</p></h3>
  
    <p style="text-align:center; padding-left:350px; padding-right:350px;"><font color="#464241">In order to create these insights about the way you communicate with others, <br>we need to read your email data including your email contacts which is why we are asking you to authenticate with your gmail account. <br><br> If you have not previously authenticated with the account, you’ll see a request for permission on the next page.<br><br>We take data privacy really seriously. We don’t store the text of your emails or details about the senders of emails you receive or recipients of emails you send. 
    </font></p>

    <p style="text-align:center;"><a href={{ auth_url }}>This Sounds Great</a>&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;&nbsp;<a href="#section02">Learn More</a></p>

    {% include 'template/space/insight_main_scroll_bottom_space.html' %}

  
  </section>

  <!-- Content Section - ADDITIONAL -->
  <section id="section02" class="demo">
  
    {% include 'template/space/landing_scroll_top_space.html' %}

    <p style="text-align:center; padding-left:350px; padding-right:350px;"><font color="#464241"><i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel gravida risus, quis vulputate magna. Donec eu suscipit leo, vel vestibulum ipsum. Maecenas vel velit nulla. Vestibulum sed iaculis turpis. Nam congue enim mauris. Integer sit amet elementum enim, sit amet viverra libero. Maecenas eget placerat dui, tincidunt gravida massa. Vestibulum gravida accumsan pretium.

    <br><br>Nullam dapibus dolor quis elit varius commodo. Suspendisse efficitur sapien odio, vel ornare ex imperdiet non. Quisque finibus fringilla lorem a gravida. Praesent vitae dignissim nisi. Nam elementum libero nisi, euismod rutrum tortor rutrum laoreet. Fusce dictum nibh in massa rhoncus, vitae viverra purus fermentum. Integer accumsan elit sed rhoncus bibendum. Nunc mattis lacus eget consequat tempus.

    <br><br>Curabitur sit amet pretium ligula. Nulla eu dolor eu libero volutpat molestie vitae tempor enim. Donec quis pulvinar sapien. Donec convallis nunc neque, a fringilla velit congue at. Sed rutrum a nisl non efficitur. Ut vitae est sed nisl sagittis tincidunt a non risus. Proin eu faucibus odio, sit amet facilisis felis. Nam fringilla, arcu in vestibulum volutpat, sem ex faucibus elit, in congue tortor ligula at ante. Donec venenatis, erat fringilla porta tincidunt, enim elit ullamcorper massa, porta ullamcorper mauris nunc et neque.</i>

    <br><br>

    <p style="text-align:center;"><a href="#section01">Return To Permission Page</a></p>

    {% include 'template/space/landing_scroll_bottom_space.html' %}

  </section>

  <!-- SCRIPTS -->
  {% include 'template/general/scroll_page.html' %}

</body>
</html>
<!-- END -->
