<!doctype html>
<html>
{% include 'template/general/title.html' %}

<!-- HEADER -->
<header>
  
  <!-- Dependencies & Co -->
  {% include 'template/general/dependency.html' %}
  {% include 'template/general/flash_message.html' %}

</header>

<!-- BODY -->
<body scroll="no" style="overflow: hidden">

  <!-- Header Section -->
  {% include 'template/general/header_user.html' %}
  {% include 'template/general/header_ribbon.html' %}
        
  <!-- Nav Bar -->
  {% include 'template/general/nav_bar.html' %}

  <!-- Content -->
  <div class="parent_2">
    
    <center>
    
    {% include 'template/space/insight_main_top_space.html' %}

    <h3><p style="text-align:center;">Illustrating {{ insight_title }}</p></h3>

    {% autoescape false %}
    <p style="text-align:center; padding-left:250px; padding-right:250px;"><font color="#464241">{{ insight_text }} </font></p>
    {% endautoescape %}
    
    <!-- Examples -->
    {% include 'vis_prep/'+insight_name+'/'+insight_name+'_sample.html' %}

    <center><a href="{{ url_for('insight_c_view',insight_name=insight_name) }}"><img src="{{ url_for('static', filename='image/icon/next_skip.png') }}" style="width:17px;height:17px;"/></a></center>

    </center>
  
  </div>

  {% include 'template/space/insight_main_scroll_bottom_space.html' %}

  <!-- SCRIPTS -->
  {% include 'template/general/scroll_page.html' %}

      
</body>
</html>
<!-- END -->