<!doctype html>
<html>

    <!-- CONTENT -->    
     <div id="text_main"><p style="text-align:center; padding-left:250px; padding-right:250px;"><font color="#464241">
     We're going to measure responsiveness in a few different ways:
     <br>
     
     <br><img src="{{ url_for('static', filename='image/icon/idea.png') }}" style="width:22px;height:20px;"/>&nbsp;<b>Response Rate</b><br>This rate at which emails result in responses.
     <br><br>% Received A Response <br><i>The percentage of emails you sent to which you received a response.</i>

	 <br><br>% Sent A Response <br><i>The percentage of emails you replied to.</i>

    <br>

     <br><img src="{{ url_for('static', filename='image/icon/idea.png') }}" style="width:22px;height:20px;"/>&nbsp;<b>Response Time</b><br>The time between the initial email and the reply.
     <br><br>Time To Receive Response <br><i>Time it takes for your email recipients to reply to your emails (in minutes).</i>
	 <br><br>Time To Send Response <br><i>Time it takes for you to reply to your received emails (in minutes).</i>

     <br>

     <br>You'll be able to compare each of these measures across groups. Let's take a look!
    
     </font></p></div>
     
</html> 