<!doctype html>
<html>

    <!-- CONTENT -->    
     <div id="text_main"><p style="text-align:center; padding-left:250px; padding-right:250px;"><font color="#464241">

     We're going to measure the length of your emails in a few different ways: 
  	 <br>
     
     <br><img src="{{ url_for('static', filename='image/icon/idea.png') }}" style="width:22px;height:20px;"/>&nbsp;<b>Number of Characters, Words, and Sentences</b><br>
     The average length of the emails you sent measured in terms of <br>characters, words, and sentences.
     <br>

     <br><img src="{{ url_for('static', filename='image/icon/idea.png') }}" style="width:22px;height:20px;"/>&nbsp;<b>Length Imbalance</b><br>The ratio between the length of the emails you sent and the length of the emails you responded to. A length imbalance greater than 1 shows that you're more 'talkative' to others than they are to you.   
     <br>

     <br> You'll be able to compare each of these measures across groups. Do you write emails with more sentences to women than women write to you? Do you use fewer words when you write to men than when you write to women? 
     <br><br>Let's find out!

     </font></p></div>

</html>


